.sidebar-header__logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sidebar-header__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #a6f1e0;
}

@media (min-width: 768px) {
  .sidebar-header__title {
    font-size: 1.5rem;
  }
}

.sidebar-header__title-accent {
  color: #73C7C7;
}

.sidebar-header__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
}

/* .sidebar-header__profile {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.sidebar-header__welcome {
  color: #64748b;
}

.sidebar-header__user {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.sidebar-header__avatar {
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
}

.sidebar-header__username {
  font-size: 0.875rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .sidebar-header__username {
    font-size: 1rem;
  }
} */