<div id="logo" class="sidebar-header__logo">
    <h1 class="sidebar-header__title">Book Review<span
            class="sidebar-header__title-accent"> App</span></h1>
    <p class="sidebar-header__subtitle">Book review application</p>
</div>
<!-- <div id="profile" class="sidebar-header__subtitle">
    <p class="sidebar-header__welcome">Welcome back,</p>
    <a href="#" class="sidebar-header__user">
        <span>
            <img class="sidebar-header__avatar"
                src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80"
                alt="">
        </span>
        <span class="sidebar-header__username">
            Eduardo
        </span>
    </a>
</div> -->