.sidebar-layout {
  background-color: #fff1cb;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  color: #9376E0;
}

.sidebar-layout::selection {
  background-color: #b7a3e3;
  color: white;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

.sidebar-menu {
  width: 220px;
  background-color: #ff8f8f;
  min-height: 100vh;
  z-index: 10;
  color: white;
  position: fixed;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
}

.sidebar-content {
  margin-left: 220px;
  padding: 1rem;
  background-color: #c2e2fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
